@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* ใช้ Flexbox จัดกึ่งกลาง */
  display: flex;
  justify-content: center; /* แนวนอน */
  align-items: center;     /* แนวตั้ง */

  flex-direction: column;  /* เรียง element แนวตั้ง */
  text-align: center;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  margin: 1em 0;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* จัดกึ่งกลาง #app */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
